In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Arraial Do Cabo,BR,2021-02-06 23:31:28,-22.9661,-42.0278,75.58,83,100,5.23
1,1,Malanje,AO,2021-02-06 23:31:28,-9.5402,16.3410,64.38,97,100,2.51
2,2,Puerto Ayora,EC,2021-02-06 23:31:28,-0.7393,-90.3518,86.00,62,0,16.11
3,3,Ushuaia,AR,2021-02-06 23:31:28,-54.8000,-68.3000,51.80,76,40,21.85
4,4,Natchez,US,2021-02-06 23:28:02,31.5604,-91.4032,51.80,87,90,5.75

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [10]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [12]:
# Get the maximum temperature using for loop
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
    #temps.append(max(temp, 0))

In [24]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloud = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloud, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [56]:
# Filter the dataset to find the cities that fit the criteria.
old_preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
old_preferred_cities_df.count()

City_ID       136
City          136
Country       135
Date          136
Lat           136
Lng           136
Max Temp      136
Humidity      136
Cloudiness    136
Wind Speed    136
dtype: int64

In [58]:
preferred_cities_df = old_preferred_cities_df.dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Arraial Do Cabo,BR,2021-02-06 23:31:28,-22.9661,-42.0278,75.58,83,100,5.23
2,2,Puerto Ayora,EC,2021-02-06 23:31:28,-0.7393,-90.3518,86.00,62,0,16.11
6,6,Port Macquarie,AU,2021-02-06 23:31:09,-31.4333,152.9167,81.00,73,52,1.99
17,17,Georgetown,MY,2021-02-06 23:28:49,5.4112,100.3354,80.01,83,20,1.14
18,18,Hithadhoo,MV,2021-02-06 23:31:32,-0.6000,73.0833,81.75,74,22,13.33
22,22,Butaritari,KI,2021-02-06 23:31:25,3.0707,172.7902,81.21,80,92,20.56
24,24,Yulara,AU,2021-02-06 23:31:27,-25.2406,130.9889,78.80,29,1,18.41
34,34,Bambous Virieux,MU,2021-02-06 23:31:34,-20.3428,57.7575,77.00,83,20,3.44
38,38,Mataura,NZ,2021-02-06 23:31:40,-46.1927,168.8643,77.25,50,0,2.44
44,44,Vaini,TO,2021-02-06 23:31:41,-21.2000,-175.2000,84.20,84,75,11.50

In [63]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0   Arraial Do Cabo      BR     75.58 -22.9661  -42.0278
2      Puerto Ayora      EC     86.00  -0.7393  -90.3518
6    Port Macquarie      AU     81.00 -31.4333  152.9167
17       Georgetown      MY     80.01   5.4112  100.3354
18        Hithadhoo      MV     81.75  -0.6000   73.0833
22       Butaritari      KI     81.21   3.0707  172.7902
24           Yulara      AU     78.80 -25.2406  130.9889
34  Bambous Virieux      MU     77.00 -20.3428   57.7575
38          Mataura      NZ     77.25 -46.1927  168.8643
44            Vaini      TO     84.20 -21.2000 -175.2000

In [78]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [86]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()   
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [88]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Arraial Do Cabo,BR,75.58,-22.9661,-42.0278,Pousada Porto Praia
2,Puerto Ayora,EC,86.00,-0.7393,-90.3518,Castillo Galapagos
6,Port Macquarie,AU,81.00,-31.4333,152.9167,Rydges Port Macquarie
17,Georgetown,MY,80.01,5.4112,100.3354,Cititel Penang
18,Hithadhoo,MV,81.75,-0.6000,73.0833,Scoop Guest House
22,Butaritari,KI,81.21,3.0707,172.7902,Isles Sunset Lodge
24,Yulara,AU,78.80,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
34,Bambous Virieux,MU,77.00,-20.3428,57.7575,Casa Tia Villa
38,Mataura,NZ,77.25,-46.1927,168.8643,Ellie's Villa
44,Vaini,TO,84.20,-21.2000,-175.2000,Keleti Beach Resort

In [89]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [92]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [93]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))